<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star_Rating</title>
</head>
<body>
    <div class="star-rating">
        <input type="radio" name="rating" id="rating-5" value="5" />
        <label for="rating-5">&#9733;</label>
        <input type="radio" name="rating" id="rating-4" value="4" />
        <label for="rating-4">&#9733;</label>
        <input type="radio" name="rating" id="rating-3" value="3" />
        <label for="rating-3">&#9733;</label>
        <input type="radio" name="rating" id="rating-2" value="2" />
        <label for="rating-2">&#9733;</label>
        <input type="radio" name="rating" id="rating-1" value="1" />
        <label for="rating-1">&#9733;</label>
      </div>
</body>
</html>
<script>
    
</script>